################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BluetoothDevicesExplorer/bin/Debug
/BluetoothDevicesExplorer/obj
/packages/32feet.NET.3.5.0.0
